html, body {
    scroll-behavior: smooth;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

#img {
    height: 150px;
    width: 22.4%;
    float: left;
    background-size: cover;
    background-position: center;
    margin: 1.2%;
    border-radius: 5%;
    transition: 0.8s;
    filter: brightness(0.5);
    transform: rotatez(5deg);
    
     


}

#img:hover {
    filter: brightness(1);
    filter: drop-shadow(5px 5px 6px black);
    transform: scale(1.08);
}

#img1 {
    background-image: url(../image/s1.jpg);
}

#img2 {
    background-image: url(../image/s2.jpg);
}

#img3 {
    background-image: url(../image/s4.jpg);
}

#img4 {
    background-image: url(../image/s5.jpg);
}

