html, body {
    height: 100%;
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
}


li {
    text-transform: capitalize;
}

#ana {
    text-transform: capitalize;
}

#zekat {
    text-transform: capitalize;
}

#foto {
    text-transform: capitalize;
}

#elaqe {
    text-transform: capitalize;
}

#unvan {
    text-transform: capitalize;
}

/* #three {
    padding: 170px 0;

} */

#tehsil {
    width: 200px;
    border-bottom: 4px solid red;
}

#saglamliq {
    width: 240px;
    border-bottom: 4px solid red;
}

#reng {
    background-color: #0C0A08;
}

#tehluke {
    width: 270px;
    border-bottom: 4px solid red;
}

#strateg {
    width: 180px;
    border-bottom: 4px solid red;
}

#layihe {
    width: 180px;
    border-bottom: 4px solid red;
}

#tecrube {
    width: 220px;
    border-bottom: 4px solid red;
}


.kings {
    text-decoration: none;
}


#elq {
    text-decoration: underline;
}

#unv {
    text-decoration: underline;
}

/* #merkez {
    margin: 0 270px;
} */


.xet {
    text-decoration: none;
}


