html, body {
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 100px;
    height: auto;
    background-size: contain;
    background-position: center;
    opacity: 90%;
}

 .sekil {
    height: 670px;
    background-size: contain;
    background-position: center;
    opacity: 80%;
}

.kard {
    margin:  60px 5px;
}

.kard-tidle {
    color: black;
    font-size: 30px;
    /* opacity: 80%; */
}

.umid {
    margin: 0 180px;
    color: darkred;
}

.sekil2 {
    height: 600px;
}

p {
    text-align: justify;
    margin: 0 20px;
    font-weight: bold;
}

.destek {
    margin: 0 300px;
}

.cardsekil {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #D39766;
    margin-top: 20px;
   
}

.cardsekil .card img{
    filter: brightness(0.8);
    transform: scale();
    transition: all 0.5s;
}

.cardsekil .card img:hover {
    filter: brightness(1);
    transform: scale(0.98);
    
}

.bina {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

video {
    width: 100%;
}
.button {
    --color: #00A97F;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: black;
    z-index: 1;
   }
   
   .button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button::before {
    top: -1em;
    left: -1em;
   }
   
   .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button:hover {
    color: rgb(10, 25, 30);
   }
   
   .button:active {
    filter: brightness(.8);
   }
   
   .duyme:focus {
    background-color: red;

   }

   .money {
    background-color: #D39766;
   }

   .pul {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
   }

   .money h1 {
    text-align: center;
    font-weight: bold;
   }




@media (max-width: 700px) {
    .kard-tidle {
        font-size: 25px;
    }

    .sekil {
        height: 500px;
    }

    .iane {
        margin: 170px 0;
    }

    .umid {
        display: inline;
        color: darkred;
        text-align: center;
    }

    .sekil2 {
        width: 100%;
    }
    
    .destek {
        /* margin: 0 200px; */
        margin: 0 40%;
    }

    .cardsekil {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .fotolar {
        width: 100%;
    }

    .pul {
        display: flex;
        flex-direction: column;
       }

}
