html, body {
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: indigo;
    height: 100px;
    color: white;
    position: sticky;
    top: 0;
}

#esas {
    height: 300px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(153, 7, 7);
    margin: 15px auto;
    padding: 5px;
    color: white;
    text-align: center;
    font-size: 20px;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    margin: 2px 0;
    font-size: 22px;
}



#boyuk {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer {
    background-color: indigo;
    color: white;
    text-align: center;
    padding: 30px 0;
}

@media (max-width: 660px) {
    #esas {
        width: 300px;
    }

    p {
        padding: 2px;
        margin: 0;
    }

    #boyuk {
        padding: 0;
        margin: 0;
    }


}

