html, body {
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.logo {
    height: 150px;
    width: 80px;
    background-size: contain;
    background-position: center;
    transform: scale(1.7);
    margin: 0px 50px;
}

img {
    width: 100%;
    height: auto;
}

.header {
    display: flex;
    flex-direction: column;
    height: 140px;
    width: 100%;
    background-color: rgb(29, 83, 164);
    text-transform: capitalize;
    font-weight: bold;
    position: fixed;
    top: 0;
    z-index: 1;
}

/* h2 {
    padding: 0 10px;
    
} */

.header2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


a {
    margin: 10px 75px;
    color: black;
    text-decoration: none;
    transition: 0.5s;
    padding: 0 0px;
}

a:hover {
    color: rgb(103, 3, 3);
}

#ana {
    color: rgb(103, 3, 3);

}

h1 {
    margin: 30px;
}

span {
    border-bottom: 2px solid #58BED3;
    text-transform: uppercase;
}

.menyu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.qutu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color:rgb(220, 213, 213);
    height: 200px;
    width: 350px;
    margin: 3%;
    border: 2px solid rgb(220, 213, 213);
    padding: 20px;
    transition: 0.7s;
}

.sekil {
    background-image: url(image/1.png);
    height: 200px;
    width: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.7s;
}

.sekil:hover {
    transform: scale(1.3);
}

.qutu:hover {
    background-color: #58BED3;
    transform: scale(1.08);
}

.sekil1 {
    background-image: url(image/1.png);

}

.sekil2 {
    background-image: url(image/2.png);
}

.sekil3 {
    background-image: url(image/3.png);
}

.sekil4 {
    background-image: url(image/4.png);
}

.sekil5 {
    background-image: url(image/5.png);
}

.sekil6 {
    background-image: url(image/6.png);
}

.text {
    padding: 0 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;
    height: 200px;
}

.foto {
    height: 30px;
    width: 30px;
    background-size: contain;
    background-position: center;
    padding: 20px 15px;
    background-repeat: no-repeat;
    transition: 0.5s;
    border-radius: 50%;
    background-color: #205b66;
    padding: 25px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}



.foto1 {
    background-image: url(image/7.png);
}

.foto:hover {
  transform: rotateY(360deg);
  border-radius: 50%;
  background-color: white;
  border: 4px solid #205b66;
}

.foto2 {
    background-image: url(image/8.png);
}

.foto3 {
    background-image: url(image/9.png);
}

.item {
    display: flex;
    justify-content: space-evenly;
}

.yazi {
    font-size: 30px;
    padding: 25px;
}

@media (max-width:700px) {
    .header {
        flex-direction: column;
        position: static;
        height: 260px;
    }

    .header2 {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    
    }

    .menyu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

 

    .footer {
        flex-direction: column;
        margin: 0;
        height: 600px;
        justify-content: space-between;
        align-items: center;
        padding: 0;

    }

    .item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    

    .yazi {
        padding: 0;
        font-size: 20px;
        justify-content: center;
        align-items: center;
    }

    .logo {
        height: 150px;
        width: 80px;
        background-size: contain;
        background-position: center;
        transform: scale(1.3);
        margin: 0px 80px;
    }
}